{"connection": {"psu_address": "192.168.60.95", "psu_enabled": "True"}, "timing": {"pre_check_delay": 1.2, "loop_check_period": 3.6, "poweroff_delay": 21.0, "max_startup_delay": 5.8, "cycle_start": -1}, "ssh": {"username": "pixsys", "password": "Pixsys#2023", "command": "/sbin/reboot", "enabled": "True"}, "modbus": {"automatic_cycle_count_check_enabled": "True", "register_address": 2, "register_value": 10}}